.card {
  max-width: 345px;
  box-shadow: "0 0 5px rgba(0, 0, 0, 0.15)";
  border-radius: 8px;
  margin: 0.5rem;
}

.column-container {
  display: flex;
}
.column {
  border: 1px solid lightgray;
  max-width: 355px;
  height: 90vh;
  margin: 0.5%;
}

.column-contents {
  height: 90%;
  overflow: auto;
}
.column-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  height: 10%;
}

header {
  background-color: lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
}
