.card {
  max-width: 345px;
  box-shadow: "0 0 5px rgba(0, 0, 0, 0.15)";
  border-radius: 8px;
  margin: 0.5rem;
}

.modal {
  position: absolute;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalForm {
  width: 100%;
  padding-bottom: 1rem;
}
